.favorites-layout {
    min-height: 100vh;
}

.favorite-content {
    padding: 0 50px;
    background-color: #1d1d2b !important;
}

.favorite-content-user {
    font-weight: 400;
}

.favorites-layout-content-header {
    margin: auto;
    margin-top: 20px;
    padding: 0 35%;
    color: white;
    font-weight: 200;
    font-size: 2em;
}

.favorite-list {
    display: flex;
    border: 1px solid #9ab;
    min-height: 400px;
    border-radius: 5px;
    margin-top: 20px;
}

.favorite-footer {  
    background-color: #1d1d2b;
}

